.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.tech-item p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.tech-icons {
  margin-bottom: 20px;
}